/* Styles for users who prefer light mode at the OS level */
:root {

  --text: var(--color-darktext);
  --background: var(--color-offwhite);
  --bg-darker: var(--color-highlight2);
  --link: var(--color-action);
  --border: 1px solid var(--color-xxlight);
  /* Reversed */
  --link-reversed: var(--color-action-dark);
  --text-reversed: var(--color-offwhite);
  --background-reversed: var(--color-offblack);
  --bg-darker-reversed: var(--color-highlight);
  --font-reversed-light: 250;
  --font-reversed-normal: 350;
  --font-reversed-medium: 450;
  --font-reversed-bold: 550;
  --font-reversed-heavy: 700;

  /* NEUTRAL */
  --color: 0, 100%;
  --l:50%; /*the initial lightness*/

  --color-offblack: #1d1b22;
  --color-black: #030201;
  --color-darktext: #2b3d4f;
  --color-slate: #41464e;
  --color-dark: #24292e;
  --color-medium: #666666;
  --color-light: #999999;
  --color-xlight: #d6d6d6;
  --color-xxlight: #e6e6e6;
  --color-xxxlight: #f2f2f2;
  --color-white: #ffffff;
  --color-offwhite: #fafafa;
  --color-highlight: hsla(0, 0%, 0%, 0.25);
  --color-highlight2: hsla(0, 0%, 0%, 0.05);

  /* STATES */
  --color-action: var(--color-purple);
  --color-action-dark: var(--color-lightpurple);
  --color-danger: var(--color-red);
  --color-success: var(--color-green);
  --color-disabled: #f2f2f2;

  /* ACCENT */
  --color-red: #e74646;
  --color-green: #0dba38;
  --color-blue: #0086e6;
  --color-purple: rgba(100,21,255,1);
  --color-lightpurple: #a099ff;
  --color-yellow: #fcb23b;
  --color-lightyellow: #ffdd9e;
  --color-brown: #e8a192;
  --color-darkbrown: #814b50;

  /* HIGHLIGHT */

  /* SHADOW */
  --shadow-z1: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  --shadow-z2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-z3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-z4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-z5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --shadow-inner: inset 0 0 4px var(--color-xlight);

  --shadow-text: 0px 16px 24px rgba(0, 0, 0, 0.07),
    0px 6px 30px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.15);
  --shadow-light: 0px 2px 4px rgba(14, 30, 37, 0.12);
  --shadow-heavy: -10px 10px 80px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.25);
  --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07),
    0px 6px 30px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.1);


  /* FONT-SIZE */
  --font-display: 12rem;
  --font-xxxl: 8rem;
  --font-xxl: 7.2rem;
  --font-xl: 6.4rem;
  --font-lg: 4.8rem;
  --font-md: 3.6rem;
  --font-sm: 2.8rem;
  --font-xs: 2rem;
  --font-xxs: 1.6rem;
  --font-xxxs: 1.2rem;

  /* FONT WEIGHT */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 600;
  --font-heavy: 800;

  /* SPACING */
  --spacing-tight: -0.2rem;
  --spacing-normal: 0;
  /* NEED TO APPLY DARK VERSIONS TO LOOSE */
  --spacing-loose: 0.02rem;
  --spacing-reversed-tight: calc(var(--spacing-normal) - 0.12rem);
  --spacing-reversed-normal: 0.01rem;

  --spacing-xxxs: 0.4rem;
  --spacing-xxs: 0.8rem;
  --spacing-xs: 1.6rem;
  --spacing-sm: 2.4rem;
  --spacing-md: 3.2rem;
  /* --spacing-lg: 6.4rem; */
  --spacing-lg: 8rem;
  --spacing-xl: 12.8rem;
  --spacing-xxl: 25.6rem;
  --spacing-xxxl: 51.2rem;

  /* IMAGE FILTERS */
  --filter: brightness(1) saturate(1);
}

/* PADDING -- TBD */

/* Override light mode with dark mode styles if the user decides to swap */
:root.dark-theme {
  --text: var(--color-offwhite);
  --background: var(--color-offblack);
  --bg-darker: var(--color-highlight);
  --link: var(--color-action-dark);
  --border: 1px solid black;

  /* Reversed */
  --link-reversed: var(--color-action);
  --text-reversed: var(--color-darktext);
  --background-reversed: var(--color-offwhite);
  --bg-darker-reversed: var(--color-highlight2);
  --font-reversed-light: 300;
  --font-reversed-normal: 400;
  --font-reversed-medium: 500;
  --font-reversed-bold: 600;
  --font-reversed-heavy: 800;

  /* FONT WEIGHT */
  --font-light: 250;
  --font-normal: 350;
  --font-medium: 450;
  --font-bold: 550;
  --font-heavy: 700;

  --shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.25),
    0px 6px 30px rgba(0, 0, 0, 0.25), 0px 8px 10px rgba(0, 0, 0, 0.25);

  /* IMAGE FILTERS */
  --filter: brightness(0.8) saturate(1.25);

  /* SPACING - testing calc */
  --spacing-tight: calc(var(--spacing-normal) - 0.12rem);
  --spacing-normal: 0.01rem;
  --spacing-reversed-tight: -0.2rem;
  --spacing-reversed-normal: 0;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--color-offwhite);
    --background: var(--color-offblack);
    --bg-darker: var(--color-highlight);
    --link: var(--color-action-dark);
    --border: 1px solid black;
    /* Reversed */
    --link-reversed: var(--color-action);
    --text-reversed: var(--color-darktext);
    --background-reversed: var(--color-offwhite);
    --bg-darker-reversed: var(--color-highlight2);
    --font-reversed-light: 300;
    --font-reversed-normal: 400;
    --font-reversed-medium: 500;
    --font-reversed-bold: 600;
    --font-reversed-heavy: 800;

    /* FONT WEIGHT */
    --font-light: 250;
    --font-normal: 350;
    --font-medium: 450;
    --font-bold: 550;
    --font-heavy: 700;

    --shadow-deep: 0px 16px 24px var(--color-offblack),
      0px 6px 30px var(--color-offblack), 0px 8px 10px var(--color-offblack);

    /* IMAGE FILTERS */
    --filter: brightness(0.8) saturate(1.25);

    /* SPACING */
    --spacing-tight: calc(var(--spacing-normal) - 0.12rem);
    --spacing-normal: 0.01rem;
    --spacing-reversed-tight: -0.2rem;
    --spacing-reversed-normal: 0;
  }
}

/* Override dark mode with light mode styles if the user decides to swap */
:root.light-theme {
  --text: var(--color-darktext);
  --background: var(--color-offwhite);
  --bg-darker: var(--color-highlight2);
  --link: var(--color-action);
  --border: 1px solid var(--color-xxlight);
  /* Reversed */
  --link-reversed: var(--color-action-dark);
  --text-reversed: var(--color-offwhite);
  --background-reversed: var(--color-offblack);
  --bg-darker-reversed: var(--color-highlight);
  --font-reversed-light: 250;
  --font-reversed-normal: 350;
  --font-reversed-medium: 450;
  --font-reversed-bold: 550;
  --font-reversed-heavy: 700;

  /* FONT WEIGHT */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 600;
  --font-heavy: 800;

  --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07),
    0px 6px 30px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.1);

  /* IMAGE FILTERS */
  --filter: brightness(1) saturate(1);

  /* SPACING */
  --spacing-tight: -0.2rem;
  --spacing-normal: 0;
  --spacing-reversed-tight: calc(var(--spacing-normal) - 0.12rem);
  --spacing-reversed-normal: 0.01rem;
}

/* needs cleanup and consolidation */


/* Filters & Gradients */
.gradient-sunrise {
  background: linear-gradient(#387ffb 0%,
      #34c4ff 40%,
      #ffc6d0 75%,
      #ffceaa 95%);
}

.gradient2 {
  background: -webkit-linear-gradient(top left,
      var(--link-reversed),
      var(--link-reversed));
}

.shadow-top {
  box-shadow: var(--shadow-z4);
}

.shadow-right {
  box-shadow: 5px 0 5px -5px #333;
}

.shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

.shadow-left {
  box-shadow: -5px 0 5px -5px #333;
}

.shadow-all {
  box-shadow: 0 0 5px #333;
}

.opacity {
  opacity: 0.95;
}

.lightgrey {
  background-color: #f4f4f4;
}

.darkgrey {
  background-color: #35363a;
}

.slate {
  background-color: #3e4953;
}

.black {
  background-color: #000;
}

.offblack {
  background-color: #202124;
}

.grey {
  background-color: #e3e3e3;
}

.white {
  background-color: #fff;
}

.greenblue {
  background-color: #0d98ba;
}

.dodgerblue {
  background-color: #1e90ff;
}

.blue {
  background-color: #4e92df;
}

.lightblue {
  background-color: #cfe6ff;
}

.purple {
  background-color: #686c99;
}

.yellow {
  background-color: #ffdd9d;
}

.goldenrod {
  background-color: #fcb13a;
}

.rose {
  background-color: #eb5364;
}

.red {
  background-color: #b12026;
}

.lightpink {
  background-color: #ffeef1;
}

.pink {
  background-color: #ffd3d9;
}

.brown {
  background-color: #e8a191;
}