/* Styles for users who prefer light mode at the OS level */
@font-face {
  font-display: auto;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../type/epilogue/epilogue-regular.ttf") format("truetype");
}


:root {
  --foreground-opacity: 0.7;
  --foreground: var(--color-darktext);
  --foreground-muted: rgba(var(--color-darktext), var(--foreground-opacity));
  --text-muted: var(--foreground-muted);
  --foreground-subtle: rgba(43, 61, 79, var(--foreground-opacity));
  /* Use the RGB values for --color-darktext */
  --background: var(--color-offwhite);
  --background-darker: var(--color-highlight2);
  --link: var(--color-action);
  --border: 1px solid var(--color-xlight);
  /* Reversed */
  --link-reversed: var(--color-action-dark);
  --foreground-reversed: var(--color-offwhite);
  --background-reversed: var(--color-offblack);
  --background-darker-reversed: var(--color-highlight);
  --font-reversed-light: 250;
  --font-reversed-normal: 400;
  --font-reversed-medium: 450;
  --font-reversed-bold: 550;
  --font-reversed-heavy: 700;

  /* NEUTRAL */
  --color: 0, 100%;
  --l: 50%;
  /*the initial lightness*/

  --color-offblack: #1d1b22;
  --color-black: #030201;
  --color-darktext: #2b3d4f;

  /*--color-darktext: var(--color-black); */
  --color-slate: #41464e;
  --color-dark: #24292e;
  --color-medium: #666666;
  --color-light: #999999;
  --color-xlight: #d6d6d6;
  --color-xxlight: #e6e6e6;
  --color-xxxlight: #f2f2f2;
  --color-white: #ffffff;
  --color-offwhite: #fafafa;
  /*--color-offwhite: #fdfdf5;*/
  --color-highlight: hsla(0, 0%, 0%, 0.25);
  --color-highlight2: hsla(0, 0%, 0%, 0.05);
  --color-pink: #ffd3d9;

  /* STATES */
  --color-action: var(--color-purple);
  --color-action-dark: var(--color-lightpurple);
  --color-danger: var(--color-red);
  --color-success: var(--color-green);
  --color-disabled: #f2f2f2;

  /* ACCENT */
  --color-red: #e74646;
  --color-green: #0dba38;
  --color-blue: #0086e6;
  --color-dodgerblue: #1e90ff;
  --color-purple: rgba(100, 21, 255, 1);
  --color-lightpurple: #a099ff;
  --color-yellow: #fcb23b;
  --color-lightyellow: #ffdd9e;
  --color-brown: #e8a192;
  --color-darkbrown: #814b50;

  /* GRADIENTS */
  --gradient-sunrise-start: #387ffb;
  --gradient-sunrise-mid: #34c4ff;
  --gradient-sunrise-end: #ffc6d0;

  /* HIGHLIGHT */

  /* SHADOW */
  --shadow-z1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-z2: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  --shadow-z3: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-z4: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  --shadow-z5: 0 16px 32px 0 rgba(0, 0, 0, 0.14);
  --shadow-inner: inset 0 0 4px var(--color-xlight);

  --shadow-z1-dark: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-z2-dark: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  --shadow-z3-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-z4-dark: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  --shadow-z5-dark: 0 16px 32px 0 rgba(0, 0, 0, 0.14);

  --shadow-text: 0px 16px 24px rgba(0, 0, 0, 0.07),
    0px 6px 30px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.15);
  --shadow-light: 0px 2px 4px rgba(14, 30, 37, 0.12);
  --shadow-heavy: -10px 10px 80px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.25);
  --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07),
    0px 6px 30px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.1);

  /* FONT-FAMILY */
  /* --fontFamily-primary: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  --fontFamily-secondary:  "Epilogue", sans-serif !important;
  --fontFamily-tertiary: "Noto Serif", "Merriweather", Georgia, Cambria, "Times New Roman", Times !important;
  --fontFamily-displaySans: "Noto Sans Display", sans-serif;
  --fontFamily-displaySerif: "Noto Serif Display", "Merriweather", Georgia, Cambria, "Times New Roman", Times; */

  /* FONT-FAMILY */
  --fontFamily-primary:  ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --fontFamily-secondary:  ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  /*  --fontFamily-primary: "Atkinson Hyperlegible", sans-serif !important;
    --fontFamily-secondary: "Atkinson Hyperlegible", sans-serif !important; */
  --fontFamily-tertiary:  Times. Helvetica, "Epilogue", sans-serif !important;
  --fontFamily-displaySans:  ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --fontFamily-displaySerif:  Times, Helvetica, "Epilogue", sans-serif !important;



  
  /* CORE NUMERIC SIZE SCALE */
  --size-0: 0;
  --size-1: 0.4rem;
  --size-2: 0.8rem;
  --size-3: 1.2rem;
  --size-4: 1.6rem;
  --size-5: 2rem;
  --size-6: 2.4rem;
  --size-7: 2.8rem;
  --size-8: 3.2rem;
  --size-9: 3.6rem;
  --size-10: 4rem;
  --size-11: 4.4rem;
  --size-12: 4.8rem;
  --size-13: 5.2rem;
  --size-14: 5.6rem;
  --size-15: 6rem;
  --size-16: 6.4rem;
  --size-17: 7.2rem;
  --size-18: 8rem;
  --size-19: 9.6rem;
  --size-20: 12.8rem;
  --size-21: 16rem;
  --size-22: 19.2rem;
  --size-23: 22.4rem;
  --size-24: 25.6rem;
  --size-25: 28.8rem;
  --size-26: 32rem;
  --size-27: 35.2rem;
  --size-28: 38.4rem;
  --size-29: 41.6rem;
  --size-30: 44.8rem;
  --size-31: 48rem;
  --size-32: 51.2rem;
  --size-33: 54.4rem;
  --size-34: 57.6rem;
  --size-35: 60.8rem;
  --size-36: 64rem;


  /* SPACING */

  --spacing-xxxs: var(--size-1);
  --spacing-xxs: var(--size-2);
  --spacing-xs: var(--size-4);
  --spacing-sm: var(--size-6);
  --spacing-md: var(--size-8);
  --spacing-big: var(--size-12);
  --spacing-lg: var(--size-18);
  --spacing-xl: var(--size-20);
  --spacing-xxl: var(--size-24);
  --spacing-xxxl: var(--size-32);

  /* BREAKPOINTS */
  --breakpoint-xs: 767px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  $breakpoint-sm: 768px;

  /* FLUID FONT SIZES */

  /* H1 Display*/
  --font-1000: clamp(var(--size-12), 7vw, var(--size-20));
  /* H1 */
  --font-900: clamp(var(--size-12), 7vw, var(--size-18));
  /* H2 */
  --font-800: clamp(var(--size-9), 7vw, var(--size-12));
  /* H3 */
  --font-700: clamp(var(--size-7), 7vw, var(--size-9));
  /* H4 */
  --font-600: var(--size-7);
  /* H5 + Paragraph */
  --font-500: var(--size-5);
  /* H6 + Paragraph Small*/
  --font-400: var(--size-4);

  /*
  --font-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --font-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --font-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --font-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --font-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --font-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --font-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --font-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
*/


  /* NOT USED  */

  /* Smaller */
  --font-300: var(--size-3);
  /* Even Smaller */
  --font-200: var(--size-2);
  /* Tiny */
  --font-100: var(--size-1);


  /* ABSOLUTE FONT SIZES */
  --font-4xl: var(--size-20);
  --font-3xl: var(--size-18);
  --font-2xl: var(--size-17);
  --font-xl: var(--size-16);
  --font-lg: var(--size-12);
  --font-md: var(--size-9);
  --font-sm: var(--size-7);
  --font-xs: var(--size-5);
  --font-2xs: var(--size-4);
  --font-3xs: var(--size-3);

  @media print {
    * {
      --font-3xl: var(--size-16);
      --font-2xl: var(--size-15);
      --font-xl: var(--size-14);
      --font-lg: var(--size-10);
      --font-md: var(--size-5);
      --font-sm: var(--size-4);
      --font-xs: var(--size-3);
      --font-2xs: var(--size-2);
      --font-3xs: var(--size-1);

    }
  }

  /* 
  --font-display: clamp(4rem, 9vw, 12rem);
  --font-3xl: clamp(3rem, 7vw, 8rem);
  --font-2xl: clamp(2.8rem, 6vw, 7.2rem);
  --font-xl: clamp(2.5rem, 5vw, 6.4rem);
  --font-lg: clamp(2rem, 4vw, 4.8rem);
  --font-md: clamp(1.6rem, 3vw, 3.6rem);
  --font-sm: clamp(1.4rem, 2.8vw, 2.8rem);
  --font-xs: clamp(1.2rem, 2vw, 2rem);
  --font-2xs: clamp(1rem, 1.6vw, 1.6rem);
  --font-3xs: clamp(0.8rem, 1.2vw, 1.2rem);
*/
  /* FONT WEIGHT */
  --fontWeight-light: 300;
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-bold: 600;
  --fontWeight-heavy: 800;

  /* LETTER SPACING */
  --letterSpacing-tight: -0.16rem;
  --letterSpacing-base: 0;
  --letterSpacing-loose: 0.03rem;
  --letterSpacing-reversed-tight: -0.12rem;
  --letterSpacing-reversed-base: 0.01rem;
  --letterSpacing-reversed-loose: 0.04rem;


  /* LINE HEIGHT */

  --lineHeight-none: 0;
  --lineHeight-shorter: 1.1;
  --lineHeight-short: 1.2;
  --lineHeight-base: 1.4;
  --lineHeight-tall: 1.5;
  --lineHeight-taller: 1.8;



  /* IMAGE FILTERS */
  --filter: brightness(1) saturate(1);
}

/* PADDING -- TBD */

/* Override light mode with dark mode styles if the user decides to swap */
:root.dark-theme {
  --foreground: var(--color-offwhite);
  --foreground-muted: rgba(var(--foreground), 0.7);
  --text-muted: var(--foreground-muted);
  --foreground-subtle: rgba(250, 250, 250, 0.5);
  /* Use the RGB values for #fafafa */
  --background: var(--color-offblack);
  --background-darker: var(--color-highlight);
  --link: var(--color-action-dark);
  --border: 1px solid black;

  /* Reversed */
  --link-reversed: var(--color-action);
  --foreground-reversed: var(--color-darktext);
  --background-reversed: var(--color-offwhite);
  --background-darker-reversed: var(--color-highlight2);
  --font-reversed-light: 300;
  --font-reversed-normal: 450;
  --font-reversed-medium: 500;
  --font-reversed-bold: 600;
  --font-reversed-heavy: 800;

  /* FONT WEIGHT */
  --fontWeight-light: 250;
  --fontWeight-normal: 350;
  --fontWeight-medium: 450;
  --fontWeight-bold: 550;
  --fontWeight-heavy: 700;

  --shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.25),
    0px 6px 30px rgba(0, 0, 0, 0.25), 0px 8px 10px rgba(0, 0, 0, 0.25);

  /* IMAGE FILTERS */
  --filter: brightness(0.8) saturate(1.25);

  /* SPACING - testing calc */
  --letterSpacing-tight: -0.12rem;
  --letterSpacing-base: 0.01rem;
  --letterSpacing-loose: 0.04rem;
  --letterSpacing-reversed-tight: -0.16rem;
  --letterSpacing-reversed-base: 0;
  --letterSpacing-reversed-loose: 0.03rem;

}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--color-offwhite);
    --foreground-muted: rgba(var(--foreground), 0.7);
    --text-muted: var(--foreground-muted);
    --foreground-subtle: rgba(250, 250, 250, 0.5);
    /* Use the RGB values for #fafafa */
    --background: var(--color-offblack);
    --background-darker: var(--color-highlight);
    --link: var(--color-action-dark);
    --border: 1px solid black;
    /* Reversed */
    --link-reversed: var(--color-action);
    --foreground-reversed: var(--color-darktext);
    --background-reversed: var(--color-offwhite);
    --background-darker-reversed: var(--color-highlight2);
    --font-reversed-light: 300;
    --font-reversed-normal: 450;
    --font-reversed-medium: 500;
    --font-reversed-bold: 600;
    --font-reversed-heavy: 800;

    /* FONT WEIGHT */
    --fontWeight-light: 250;
    --fontWeight-normal: 400;
    --fontWeight-medium: 450;
    --fontWeight-bold: 550;
    --fontWeight-heavy: 700;

    --shadow-deep: 0px 16px 24px var(--color-offblack),
      0px 6px 30px var(--color-offblack), 0px 8px 10px var(--color-offblack);

    /* IMAGE FILTERS */
    --filter: brightness(0.8) saturate(1.25);

    /* SPACING */
    --letterSpacing-tight: -0.12rem;
    --letterSpacing-base: 0.01rem;
    --letterSpacing-loose: 0.04rem;
    --letterSpacing-reversed-tight: -0.16rem;
    --letterSpacing-reversed-base: 0;
    --letterSpacing-reversed-loose: 0.03rem;

  }
}

/* Override dark mode with light mode styles if the user decides to swap */
:root.light-theme {
  --foreground: var(--color-darktext);
  --foreground-muted: rgba(var(--foreground), 0.7);
  --text-muted: var(--foreground-muted);
  --foreground-subtle: rgba(43, 61, 79, var(--foreground-opacity));
  /* Use the RGB values for --color-darktext */

  --background: var(--color-offwhite);
  --background-darker: var(--color-highlight2);
  --link: var(--color-action);
  --border: 1px solid var(--color-xlight);
  /* Reversed */
  --link-reversed: var(--color-action-dark);
  --foreground-reversed: var(--color-offwhite);
  --background-reversed: var(--color-offblack);
  --background-darker-reversed: var(--color-highlight);
  --font-reversed-light: 250;
  --font-reversed-normal: 400;
  --font-reversed-medium: 450;
  --font-reversed-bold: 550;
  --font-reversed-heavy: 700;

  /* FONT WEIGHT */
  --fontWeight-light: 300;
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-bold: 600;
  --fontWeight-heavy: 800;

  --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07),
    0px 6px 30px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.1);

  /* IMAGE FILTERS */
  --filter: brightness(1) saturate(1);

  /* SPACING */
  --letterSpacing-tight: -0.16rem;
  --letterSpacing-base: 0;
  --letterSpacing-loose: 0.03rem;
  --letterSpacing-reversed-tight: -0.12rem;
  --letterSpacing-reversed-base: 0.01rem;
  --letterSpacing-reversed-loose: 0.04rem;
}

/* needs cleanup and consolidation */



/* Filters & Gradients */
.gradient-sunrise {
  background: linear-gradient(to bottom right,
      var(--gradient-sunrise-start) 0%,
      var(--gradient-sunrise-mid) 40%,
      var(--gradient-sunrise-end) 75%,
      var(--link-reversed) 95%);
}

.gradient2 {
  background: -webkit-linear-gradient(top left,
      var(--link-reversed),
      var(--link-reversed));
}

.shadow-top {
  box-shadow: var(--shadow-z4);
}

.shadow-right {
  box-shadow: 5px 0 5px -5px #333;
}

.shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

.shadow-left {
  box-shadow: -5px 0 5px -5px #333;
}

.shadow-all {
  box-shadow: 0 0 5px #333;
}

.opacity {
  opacity: 0.95;
}

.lightgrey {
  background-color: #f4f4f4;
}

.darkgrey {
  background-color: #35363a;
}

.slate {
  background-color: #3e4953;
}

.black {
  background-color: #000;
}

.offblack {
  background-color: #202124;
}

.grey {
  background-color: #e3e3e3;
}

.white {
  background-color: #fff;
}

.greenblue {
  background-color: #0d98ba;
}

.dodgerblue {
  background-color: #1e90ff;
}

.blue {
  background-color: #4e92df;
}

.lightblue {
  background-color: #cfe6ff;
}

.purple {
  background-color: #686c99;
}

.yellow {
  background-color: #ffdd9d;
}

.goldenrod {
  background-color: #fcb13a;
}

.rose {
  background-color: #eb5364;
}

.red {
  background-color: #b12026;
}

.lightpink {
  background-color: #ffeef1;
}

.pink {
  background-color: #ffd3d9;
}

.brown {
  background-color: #e8a191;
}