/* ---- ACCESSIBILITY ---- */

/** GLOBAL HIGHLIGHT COLOUR **/
::selection {
  background: var(--color-accent);
}

::-moz-selection {
  background: var(--color-accent);
}

/* -------- FORM INPUT -------- */

label {
  font-size: var(--font-500);
  display: inline-block;
  margin-block-end: var(--size-5) !important;
}

input,
textarea,
select {
  font-size: var(--font-500);
  color: var(--foreground) !important;
  inline-size: 100%;
  inset-block-start: 0;
  padding: var(--spacing-xs);
  margin-block-end: var(--spacing-field);
  box-sizing: border-box;
  border: transparent;
  border-radius: var(--radius-sm);
  background-color: var(--background-darker);
  /* box-shadow: var(--shadow-z1); */
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus,
select:focus {
  background: inherit;
  outline: 2px solid var(--color-action) !important; /* design-guard:ignore */
  outline-offset: 0;
  -moz-transition: outline 0.1s ease-out;
  -o-transition: outline 0.1s ease-out;
  -webkit-transition: outline 0.1s ease-out;
}

input:optional,
textarea:optional,
select:optional {
  /* border-color: red; */
}

input:required:valid,
textarea:required:valid,
select:required:valid {
  background-color: var(--background-darker);
}

input:required:invalid,
textarea:required:invalid,
select:required:invalid {
  /* border-color: red; */
}

/* SELECTORS */
option:first {
}

/* ------- Dark Form UI ------- */

@media (prefers-color-scheme: dark) {
  label {
    color: var(--foreground) !important;
  }

  input,
  textarea,
  select {
    background-color: var(--background-darker);
    box-shadow: none;
  }

  input:focus,
  textarea:focus,
  select:focus {
    /* border-color: var(--color-action) !important; */
    background-color: inherit !important;
  }

  input:required:valid,
  textarea:required:valid,
  select:required:valid {
    background-color: var(--background-darker);
  }
}

/* ------- END Dark Form UI ------- */

/* CUSTOM RADIOS */
.input-container {
  display: flex;
  align-items: center;
  justify-items: center;
}

input[type='radio'],
input[type='checkbox'] {
  margin-inline-end: var(--size-2);
  /* Adjust the spacing between the input and label */
  inline-size: var(--size-5);
  /* Set the inline size (width) of the radio/checkbox */
  block-size: var(--size-5);
  /* Set the block size (height) of the radio/checkbox */
}

input[type='radio'] + label,
input[type='checkbox'] + label {
  cursor: pointer;
  font-size: var(--font-500);
  margin-block-end: 0 !important;
}

.form-radio {
}

.form-radio:checked::before {
}

.form-radio:hover {
}

.form-radio:checked {
}

/*TOOLTIPS*/
[data-tooltip]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  background-color: var(--color-dark);
  font-size: inherit;
  color: var(--color-white);
  position: absolute;
  padding: var(--size-20) var(--size-5) var(--spacing-xxs) var(--size-5);
  white-space: nowrap;
  box-shadow: var(--shadow-z1);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  border-radius: var(--radius-full);
}

[data-tooltip] {
  position: relative;
}

/*BULLET LISTS*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
