.hidemobile {
  display: none !important;
}
.showmobile {
  display: block !important;
}
 



img {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover !important;
  width: 100%;
  margin: 0;
  border-radius: var(--spacing-xxs) !important;
  filter: var(--filter);
}

.bg-template {
  background-image: url("/images/template.svg");
}
.fixed {
  position: fixed !important;
}
.bg-fixed {
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  /* mix-blend-mode: multiply !important; */
}
/* ------------ BREAKPOINT MD ------------ */
@media only screen and (min-width: 740px) {
  .hidemobile {
    display: block !important;
  }
  .showmobile {
    display: none !important;
  }

  /* ------------ BREAKPOINT LG ------------ */
  @media only screen and (min-width: 1201px) {
    .zoom {
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      background-color: transparent;
      margin: 0;
      padding: 0;
      transition: all 0.25s ease-in-out;
    }
  
    span:hover > .zoom {
      -moz-transform: scale(1.03);
      -webkit-transform: scale(1.03);
      cursor: zoom-in;
      transform: scale(1.03);
    } 
  }
}
