@media screen and
  (prefers-reduced-motion: reduce), 
  (update: slow) {
  * {
    animation: none !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important; 
    transition-duration: 0.001ms !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px !important;
}
body {
  background: var(--background);
}
#app {
   color: var(--text) !important;
  /*color: var(--background-reversed) !important; */
  background: var(--background);
  font-size: 10px !important;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.reversed {
   color: var(--text-reversed) !important;
 /* color: var(--background) !important; */
  mix-blend-mode: normal !important;
  background: var(--background-reversed);
}


