/* .imgzoom:hover styles */
.imgzoom:hover {
  z-index: 20 !important;
  transform: scale(1.05);
}

/* AnimatedComponent Styles */
.animated-component.fade-enter-from,
.animated-component.zoom-enter-from {
  transition: none;
}

/* Fade animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Zoom animation */
.zoom-enter-active,
.zoom-leave-active {
  transition: transform 300ms ease;
}

.zoom-enter-from,
.zoom-leave-to {
  transform: scale(0.9);
}

/* CSS Animations */
.animate {
  animation-duration: 0.25s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Keyframes for Fade animation */
@keyframes animate-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Glow In animation */
.animate.glow {
  animation-name: animate-glow;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-duration: 0.75s;
}

@keyframes animate-glow {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Shake animation */
.animate.shake {
  animation-name: animate-shake;
  animation-timing-function: ease-out;
}

@keyframes animate-shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Slide In Right animation */
.animate.slideInRight {
  animation-name: animate-slideInRight;
  animation-timing-function: ease-out;
}

@keyframes animate-slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Bounce animation */
.animate.bounce {
  animation-name: animate-bounce;
  animation-timing-function: ease-out;
}

@keyframes animate-bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate.bounceDown {
  animation-name: animate-bounceDown;
  animation-timing-function: ease-out;
}

@keyframes animate-bounceDown {

  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }
}

/* Rotate animation */
.animate.rotate {
  animation-name: animate-rotate;
  animation-timing-function: ease-out;
}

@keyframes animate-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Pulse animation */
.animate.pulse {
  animation-name: animate-pulse;
  animation-timing-function: ease-out;
}

@keyframes animate-pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}


/* Timing */
.delay-1 {
  animation-delay: 0.25s;
}

.delay-1-5 {
  animation-delay: 0.375s;
}

.delay-2 {
  animation-delay: 0.5s;
}

.delay-2-5 {
  animation-delay: 0.625s;
}

.delay-3 {
  animation-delay: 0.75s;
}

.delay-3-5 {
  animation-delay: 0.875s;
}

.delay-4 {
  animation-delay: 1s;
}