.container {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
  position: relative;
  padding: var(--spacing-md) !important;
  display: grid;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
  overflow: hidden;
}
.sticky{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
/* .tight {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
} */
.grid-parent {
  display: grid;
  grid-gap: var(--spacing-sm);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.grid-card {
  background: transparent;
  border-radius: var(--spacing-xxs) !important;
  /* cursor: pointer; */
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  transition: 0.4s all ease-in-out !important;
  
}
/* .grid-card:hover {
  box-shadow: var(--shadow-hover);
} */
.grid-card:active {
  /* cursor: pointer; */
}
.fullvh {
  height: 100vh;
}
.eightyvh {
  height: 80vh;
}
.halfvh {
  height: 50vh;
}
.top {
  top: 0 !important;
  position: absolute;
}
.middle {
  bottom: auto !important;
  position: relative;
  top: auto !important;
}
.bottom {
  bottom: 0 !important;
}
.justify-start {
  justify-self: start;
  position: relative;
}
.justify-end {
  justify-self: end;
  position: relative;
}
/* ---- MISC VH/PADDING/SPACING/POSITIONING ---- */
#contact {
  align-items: end !important;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: space-between;
}
/* #title-hero {
  display: grid;
  align-items: end !important;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
} */

.hero {
  grid-column: 1 / 4;
}
/* ------------ BREAKPOINT MD ------------ */
@media only screen and (min-width: 740px) {
  .container {
    padding: var(--spacing-lg) !important;
  }
  .grid-parent {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    grid-gap: var(--spacing-md);

  }
  .grid-card {
    grid-column: auto;
  }
  .hero {
    grid-column: 1 / 3;
  }
  /* ------------ BREAKPOINT LG ------------ */
  @media only screen and (min-width: 1201px) {
    .container {
      padding: var(--spacing-lg) !important;
    }
    .grid-parent {
      grid-template-columns: repeat(3, 1fr);
    }

    .hero {
      grid-column: 1 / 4;
    }
  }
}
