.container {
  inline-size: 100%;
  inline-size: -moz-available;
  inline-size: -webkit-fill-available;
  inline-size: stretch;
  position: relative;
  padding: var(--spacing-md) !important;
  display: grid;
  block-size: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}

.width {
  max-width: 86.4rem !important;
/*  float: none;
  margin-inline-start: auto;
  margin-inline-end: auto; */
}

.width1 {
  max-width: 98rem;
  float: none;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.offset {
  grid-column: 1 / 4 !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  inset-block-start: 0;
}

.tight {
  padding-block-end: 0 !important;
  padding-block-start: 0 !important;
}

.grid-parent {
  display: grid;
  grid-gap: var(--spacing-sm);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.grid-card {
  background: transparent;
  border-radius: var(--spacing-xxs) !important;
  /* cursor: pointer; */
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  transition: 0.4s all ease-in-out !important;

}

/* .grid-card:hover {
  box-shadow: var(--shadow-hover);
}
.grid-card:active {
  cursor: pointer;
} */


.eightyvh {
  block-size: 80vh;
}

.halfvh {
  block-size: 50vh;
}

.top {
  inset-block-start: 0 !important;
  position: absolute;
}

.middle {
  inset-block-end: auto !important;
  position: relative;
  inset-block-start: auto !important;
}

.bottom {
  inset-block-end: 0 !important;
}

.justify-start {
  justify-self: start;
  position: relative;
}

.justify-end {
  justify-self: end;
  position: relative;
}

/* ---- MISC VH/PADDING/SPACING/POSITIONING ---- */
#contact {
  align-items: end !important;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: space-between;
}

/* #title-hero {
  display: grid;
  align-items: end !important;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
} */

.hero {
  grid-column: 1 / 4;
}

/* ------------ BREAKPOINT MD ------------ */
@media only screen and (min-width: 768px) {
  .container {
    padding: var(--spacing-lg) !important;
  }

  .offset {

    grid-column: 1 / 3 !important;

  }

  .grid-parent {
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 0;
    grid-gap: var(--spacing-md);

  }

  .grid-card {
    grid-column: auto;
  }

  .hero {
    grid-column: 1 / 3;
  }

  /* ------------ BREAKPOINT LG ------------ */
  @media only screen and (min-width: 1201px) {

    .offset {
      grid-column: 2 / 4 !important;

    }

    .container {
      padding: var(--spacing-lg) !important;
    }

    .grid-parent {
      grid-gap: var(--spacing-lg);

      grid-template-columns: repeat(3, 1fr);
    }

    .hero {
      grid-column: 1 / 4;
    }
  }

  @media only screen and (min-width: 1441px) {
    .fullvh {
      block-size: 100vh;
      align-content: center;
    }
  }
}