@font-face {
  font-display: auto;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../type/epilogue/epilogue-regular.ttf") format("truetype");
}
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Epilogue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  unicode-range: U+000-5FF;
}


/* Header AAA */
h1 {
  font-size: var(--font-xs);
  font-weight: var(--font-bold);
  line-height: 1.2;
  margin: 0;
}
h2 {
  font-size: var(--font-lg);
  font-weight: var(--font-heavy);
  letter-spacing: -0.2rem;
  line-height: 1.1;
  margin: 0;
  opacity: 1 !important;
  /* background: -webkit-linear-gradient(var(--color-action), var(--color-success)) !important; */

  /* background: -webkit-linear-gradient(left, var(--color-action), var(--color-success));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; */
}

h3 {
  font-size: var(--font-md);
  font-weight: var(--font-heavy);
  line-height: 1.4;
  margin: 0;
  opacity: 1 !important;
}
h4 {
  font-size: var(--font-sm);
  font-weight: var(--font-heavy);
  line-height: 1.5;
  margin: 0;
  opacity: 1 !important;
}

h5 {
  font-size: var(--font-xs);
  font-weight: var(--font-heavy);
  line-height: 1.5;
  margin: 0;
  opacity: 1 !important;
}
/* eyebrow text */
h6 {
  font-size: var(--font-xs);
  font-weight: var(--font-heavy);
  line-height: 1.5;
  margin: 0;
  opacity: 1 !important;
}
p {
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  line-height: 1.8;
  margin: 0;
  opacity: 1 !important;
}
/* code {
  color: var(--text-reversed);
  background-color: var(--background-reversed);
  border-radius: 4px;
  font-family: courier, monospace;
  padding: 0 16px;
} */

/* HTML BLOCK ELMENTS */
hr {
  border: var(--border);
}
figcaption {
  font-size: var(--font-xs) !important;
  font-style: italic;
  margin: var(--spacing-xs) 0 0 0;
}
/* figcaption p::before {
  content: "—";
  font-size: var(--font-sm);
} */
strong {
  font-weight: var(--font-bold);
  background: -webkit-linear-gradient(
    top left,
    var(--link-reversed),
    var(--link-reversed)
  );
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
blockquote {
  margin: var(--spacing-md) 0;
}
blockquote p {
  background: var(--background-reversed);
  border-radius: 0.8rem;
  color: var(--text-reversed);
  padding: var(--spacing-sm);
}
blockquote p::before {
  content: "👉🏽";
  font-size: var(--font-sm);
  margin: var(--spacing-xs);
}
/* blockquote p::after {
  content: "\201D";
} */
li {
  font-weight: var(--font-medium);
  list-style: none;
}
.subtle {
  opacity: 0.7 !important;
}
/* .caption-project {
  mix-blend-mode: multiply;
  display: block !important;
  position: relative;
  text-align: left;
  width: 90%;
  float: left;
  z-index: 10;
  font-size: 12px;
  text-rendering: optimizeLegibility;
} */
.caption {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  color: transparent !important;
  display: block !important;
  float: left;
  padding: var(--spacing-sm);
  position: absolute;
  text-rendering: optimizeLegibility;
  transition: all 0.1s ease-in-out;
}
.grid-card:hover .caption {
  color: var(--color-dark) !important;
  display: block !important;
}
.grid-card:active .caption {
  /* display: none !important; */
}

/* DROPCAP */

.dropcap:first-letter {
  float: left;
  font-size: var(--font-lg);
  line-height: 0.65;
  margin: var(--spacing-xxs) var(--spacing-xs) 0 0;
  padding: var(--spacing-xxs);
  background: var(--background-reversed);
  color: var(--text-reversed);
}


/* ---- LINKS/BUTTONS ---- */
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.router-link-exact {
  text-decoration: none !important;
}
.router-link-exact-active {
  text-decoration: underline dotted !important;
}
a {
  color: var(--link) !important;
}
.reversed a {
  color: var(--link-reversed) !important;
}
a:hover {
  color: var(--link) !important;
  text-decoration: underline solid !important;
}
a:active {
  text-decoration: underline wavy !important;
}
a {
  cursor: pointer;
  text-decoration: underline !important;
}

h1 a {
  text-decoration: none !important;
}
h2 > a {
  /* background: -webkit-linear-gradient(top left, var(--color-action), var(--color-action-dark));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; */
  /* text-shadow: var(--shadow-deep); */
  /* background: var(--bg-darker); */
}
h2 > a:hover {
  /* background: -webkit-linear-gradient(bottom right, var(--color-action), var(--color-action-dark));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-shadow: var(--shadow-hover); */
}

a:active p {
  position: relative;
  /* top: 1px; */
}
p a:active {
  position: relative;
  /* top: 1px; */
}
h1 a:hover {
  position: relative;
}
h2 a:active {
  position: relative;
}
h3 a:active {
  position: relative;
}

/* ------------ BREAKPOINT MD ------------ */
@media only screen and (min-width: 740px) {
  h2 {
    font-size: var(--font-xl);
    padding-bottom: 4px;
  }
  h3 {
    font-size: var(--font-lg);
  }
  h4 {
    font-size: var(--font-md);
  }
  h5 {
    font-size: var(--font-sm);
  }
  p {
    font-size: var(--font-xs);
  }
  /* ------------ BREAKPOINT LG ------------ */
  @media only screen and (min-width: 1201px) {
    h2 {
      font-size: var(--font-xxl);
    }
    /* ------------ BREAKPOINT XL ------------ */
    @media only screen and (min-width: 1441px) {
      h2 {
        font-size: var(--font-xxxl);
      }
    }
    /* ------------ BREAKPOINT XXL ------------ */
    @media only screen and (min-width: 1680px) {
      h2.display {
        font-size: var(--font-display);
      }
    }
  }
}
