@import "./_config.scss";



* {
  font-kerning: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  unicode-range: U+000-5FF;
}

body {
  font-family: var(--fontFamily-primary);
  letter-spacing: var(--letterSpacing-base);
}

body:has(input[value="Serif"]:checked) {
  font-family: var(--fontFamily-tertiary);
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 1000 */

.roboto-flex-default {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* TEST AND EXPAND MIXINS */

@mixin test {
  background: red;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.line-length {
  max-width: 64rem !important;
}

/* Header AAA */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  opacity: 1 !important;
}

.display h1 {
  font-size: var(--font-1000);
  font-variation-settings: "YAXS" 400, "wdth" 100, "opsz" 48;
  font-family: var(--fontFamily-displaySans);

}

body:has(input[value="Serif"]:checked) .display h1 {
  font-family: var(--fontFamily-Serif) !important;
}

h1 {
  font-size: var(--font-900);
  font-weight: var(--fontWeight-bold);
  line-height: var(--lineHeight-shorter);
  letter-spacing: var(--letterSpacing-tight) !important;
  /*  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; */

  /*
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  */
  font-variation-settings:

    /* 'wght': Sets the font weight between 0 and 900, applied equally to all characters. Example: 'wght' 750. */
    /*"wght" 900,*/

    /* 'GRAD': Similar to weight but does not affect horizontal spacing. Accepts values between 400 and 1000. */


    /* 'YAXS': Stretches the glyph vertically. Accepts values between 400 and 1000. */
    "YAXS" 400,

    /* 'wdth': Width expressed as a percentage above or below 'normal' (100%). */
    "wdth" 110,

    /* 'opsz': Optical sizing. 
19 or below: For text and body copy spacing.
20 or above: For display headers and titles. */
    "opsz" 48;

}



/*
h1:hover {
  font-variation-settings: 'wdth' 200;
}*/

/* .display h1 {
  background: -webkit-linear-gradient(var(--color-action), var(--color-action-dark)) !important;
  background: -webkit-linear-gradient(left, var(--color-action), var(--color-action-dark));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
} */

/* NEED TO STYLE h2 */
h2 {
/*  font-size: var(--font-800); */
font-size: var(--size-9);
  font-weight: var(--fontWeight-medium);
  line-height: var(--lineHeight-base);
  letter-spacing: var(--letterSpacing-base) !important;
  font-variation-settings: "YAXS" 400, "wdth" 110, "opsz" 48;
}

h3 {
  font-size: var(--font-700);
  font-weight: var(--fontWeight-medium);
  line-height: var(--lineHeight-base);
  letter-spacing: var(--letterSpacing-tight) !important;
  letter-spacing: var(--letterSpacing-base) !important;

  font-variation-settings: "YAXS" 400, "wdth" 110, "opsz" 48;
}

h4 {

  font-size: var(--font-600);
  font-weight: var(--fontWeight-medium);
  line-height: var(--lineHeight-tall);
  font-variation-settings: "YAXS" 400, "wdth" 110, "opsz" 48;
}

h5 {

  font-size: var(--font-500);
  font-weight: var(--fontWeight-medium);
  line-height: var(--lineHeight-tall);
  font-variation-settings: "YAXS" 400, "wdth" 110, "opsz" 48;

  margin: 0;
}

/* eyebrow text */
h6 {
  font-size: var(--font-400);
  font-weight: var(--fontWeight-medium);
  line-height: var(--lineHeight-tall);
  letter-spacing: var(--letterSpacing-loose);
  text-transform: uppercase !important;
  font-variation-settings: "YAXS" 400, "wdth" 115, "opsz" 48;
}

p,
blockquote {
  font-size: var(--font-500);
  font-weight: var(--fontWeight-normal);
  line-height: var(--lineHeight-taller);
  font-variation-settings: "wdth" 102, "opsz" 16;
}

blockquote {
  font-style: italic;
}

/* code {
  color: var(--foreground-reversed);
  background-color: var(--background-reversed);
  border-radius: 4px;
  font-family: courier, monospace;
  padding: 0 16px;
} */

/* HTML BLOCK ELMENTS */
hr {
  border-width: 1px !important;
  border: var(--border);
}

figcaption {
  font-size: var(--font-xs) !important;
  font-style: italic;
  margin: var(--spacing-xs) 0 0 0;
  opacity: 0.7 !important;
}

/* figcaption p::before {
  content: "—";
  font-size: var(--font-sm);
} */
/* em {
  font-style: normal;
  padding: 0 0 .25% 0;
  mix-blend-mode: difference;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 61%, var(--color-lightyellow) 50%); 
}*/

/*strong {
  font-style: normal;
  padding: 0 0 .25% 0;
  font-weight: var(--fontWeight-heavy);

 mix-blend-mode: difference; 
 background: -webkit-linear-gradient(bottom left,
 var(--color-brown),
var(--color-darkbrown));
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;*/
/* background-color: var(--background-darker);
  border-radius: var(--spacing-xxs);
  font-weight: var(--font-reversed-bold);
  letter-spacing: var(--letterSpacing-reversed-tight);*/
/*padding: var(--spacing-xxxs) var(--spacing-xs) var(--spacing-xxs) var(--spacing-xs);*/
/*background: -webkit-linear-gradient(bottom left,
   var(--color-brown),
  var(--color-darkbrown));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}*/

/* strong{
  background: -webkit-linear-gradient(bottom left,
      var(--link),
      var(--link-reversed));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
} */

blockquote {
  /* background: hsl(var(--link),calc(var(--l) + 10%)); */
  background: var(--background-darker);
  border-inline-start: var(--spacing-xxxs) solid var(--link);
  border-radius: var(--spacing-xxxs);
  color: var(--foreground);
  margin: var(--spacing-md) 0;
  padding: var(--spacing-sm) var(--spacing-md);
}

/* blockquote::before {
  content: "“"; 
  font-size: var(--font-3xl);
  margin: 0 var(--spacing-xs) 0 0 ;
} */

/*
 blockquote p::after {
  content: "\201D";
} */

.subtle {
  opacity: 0.7 !important;
}

/* .caption-project {
  mix-blend-mode: multiply;
  display: block !important;
  position: relative;
  text-align: left;
  inline-size: 90%;
  float: left;
  z-index: 10;
  font-size: 12px;
  text-rendering: optimizeLegibility;
} */

/* DROPCAP */

.dropcap:first-letter {
  float: left;
  font-size: var(--font-lg);
  line-height: var(--lineHeight-none).65;
  margin: var(--spacing-xxs) var(--spacing-xs) 0 0;
  padding: var(--spacing-xxs);
  background: var(--background-reversed);
  color: var(--foreground-reversed);
}

/* ---- LINKS/BUTTONS ---- */
@keyframes strike {
  0% {
    inline-size: 0;
  }

  100% {
    inline-size: 100%;
  }
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

a,
router-link {
  position: relative;
  color: var(--foreground) !important;
  font-weight: var(--fontWeight-normal);
  cursor: pointer;
  font-size: var(--font-500);

  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-thickness: 0.1rem !important;
  font-variation-settings: "opsz" 19;

  /* background: 
  linear-gradient(#1095c1 0 0) no-repeat
   calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s)); */

}

/* ---- Hover States ---- */
/*
a::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: .1rem;
  inset-block-end:  -0.75rem;
  inset-inline-start:  0;
  background-color: var(--link);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}
*/

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-thickness: 0.2rem !important;
}

/* ---- Active States ---- */

a:active,
.router-link-exact-active {
  text-decoration: underline dashed !important;
  text-underline-offset: 0.75rem;
  text-decoration-thickness: 0.1rem !important;
}

/* ---- Visited States ---- */


a:visited {
  /* color: var(--color-green) !important; */
}

/* ---- CSS Tricks custom hover effects https://css-tricks.com/cool-hover-effects-using-background-properties/ ---- */

/*
.hover-1 {
  background: linear-gradient(#1095c1 0 0) var(--p,0)/var(--p,0) no-repeat;
  transition: .4s,background-position 0s;
}
.hover-1:hover {
  --p: 100%;
  color: #fff;
}

.hover-2 {
  background: 
    linear-gradient(#1095c1 0 0) no-repeat
     calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}
.hover-2:hover {
  --p: 100%;
  --t: .3s;
  color: #fff;
}

.hover-3 {
  --c: no-repeat linear-gradient(#1095c1 0 0);
  background: 
    var(--c)  calc(-101% + var(--p,0%)) 100%,
    var(--c)  calc( 201% - var(--p,0%)) 0;
  background-size: 50.1% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}
.hover-3:hover {
  --p: 101%;
  --t: 0.3s;
  color: #fff;
}
.hover-4 {
  --c: #1095c1;
  line-height: var(--lineHeight-short)em;
  background:
    conic-gradient(from -135deg at 100%  50%,var(--c) 90deg,#0000 0) 0    var(--p,0%),
    conic-gradient(from -135deg at 1.2em 50%,#0000 90deg,var(--c) 0) 100% var(--p,0%);
  background-size: var(--s,0%) 200%;
  background-repeat: no-repeat;
  transition: .4s ease-in, background-position 0s;
}
.hover-4:hover {
  --p: 100%;
  --s: calc(50% + .61em);
  color: #fff;
}
*/
/* ---- Reversed States ---- */

.reversed {
  color: var(--foreground-reversed) !important;
  mix-blend-mode: normal !important;
  background: var(--background-reversed);
  /* letter-spacing: var(--letterSpacing-reversed-base); */
}

.reversed a,
.reversed a::after {
  color: var(--link-reversed) !important;
  font-weight: var(--font-reversed-normal) !important;
}

.external:after {
  content: " ↗";
  color: inherit !important;
  font-weight: var(--font-reversed-normal) !important;
}

.reversed .external:after {
  content: " ↗";
  /* color: var(--link-reversed) !important; */
  font-weight: var(--font-reversed-normal) !important;
}

.reversed p,
.reversed blockquote {
  font-weight: var(--font-reversed-normal) !important;
  /* letter-spacing: var(--letterSpacing-reversed-base); */
}

.reversed h1,
.reversed h2,
.reversed h3,
.reversed h4,
.reversed h5 {
  font-weight: var(--font-reversed-bold) !important;
  /* letter-spacing: var(--letterSpacing-reversed-base); */
}

.reversed h6 {
  font-weight: var(--font-reversed-bold) !important;
  letter-spacing: var(--letterSpacing-reversed-loose);
}

/* ---- Link click + adjust position ---- */

a:active p {
  position: relative;
  /* inset-block-start:  1px; */
}

p a:active {
  position: relative;
  /* inset-block-start:  1px; */
}

h1 a:hover {
  position: relative;
  text-decoration: none !important;
}

h1 a:active,
h2 a:active,
h3 a:active {
  position: relative;
}

/* ---- Heading link overrides ---- */

h1 a {
  text-decoration: none !important;
}

/* h1>a {
  background: -webkit-linear-gradient(top left, var(--color-action), var(--color-action-dark));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; 
   text-shadow: var(--shadow-deep); 
   background: var(--background-darker); 
}

h1>a:hover {
 background: -webkit-linear-gradient(bottom right, var(--color-action), var(--color-action-dark));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-shadow: var(--shadow-hover); 
}
*/

/* ------------ BREAKPOINT MD ------------ */
@media only screen and (min-width: 768px) {
  h1 {
    padding-block-end: 4px;
  }
  h2 {
    font-size: var(--size-12);
  }
}

/* ------------ BREAKPOINT LG ------------ */
@media only screen and (min-width: 1201px) {}

/* ------------ BREAKPOINT XL ------------ */
@media only screen and (min-width: 1441px) {

  .display p {
    font-size: var(--font-600);
    line-height: var(--lineHeight-base);
/*    letter-spacing: var(--letterSpacing-tight) !important;*/
  }

  /*.display .herobanner {
         block-size: 100vh;
        background-color: var(--color-purple);
        color: white;
      } */
}

/* ------------ BREAKPOINT XXL ------------ */
@media only screen and (min-width: 1680px) {}