/* -------- FORM INPUT -------- */
label {
  color: var(--color-light);
  font-size: 1.6rem;


}
label::after {
  content: ":";
  display: inline-block;
  margin-right: 3px;
}
input,
textarea,
select {
  font-size: 2rem;
  width: 100%;
  max-width: 420px;
  top: 0;
  padding: 1rem;
  margin: 0.5rem 0 1rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: white;
}
textarea {
  resize: vertical;
}
input:focus,
textarea:focus {
  background-color: white;
}
input:disabled {
  background-color: var(--color-disabled);
}
/* SELECTORS */
option:first {
}

/* CUSTOM RADIOS */
input[type="radio"],
[type="checkbox"] {
  width: 1rem;
  cursor: pointer;
}
.form-radio {
}
.form-radio:checked::before {
}
.form-radio:hover {
}
.form-radio:checked {
}

/*TOOLTIPS*/
[data-tooltip]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  background-color: var(--color-dark);
  font-size: inherit;
  color: #fff;
  position: absolute;
  padding: 1rem 2rem 1rem 2rem;
  white-space: nowrap;
  box-shadow: 1px 1px 10px var(--color-dark);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  border-radius: 4px;
}
[data-tooltip] {
  position: relative;
}
/*BULLET LISTS*/
/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 16px;
}

li::before {
  content: "•";
  padding-right: 8px;
  color: blue;
} */

