* {
  margin: 0;
  padding: 0;
}
#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px !important;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
}
html {
  font-size: inherit;
}
.container {
  height: auto;
  width: auto;
  position: relative;
  padding: 2.8em !important;
  margin: 0;
  display: grid;
}
.front {
  z-index: 10001;
}

/* ---- CONSOLIDATE ME ---- */
.overflow {
  overflow: hidden;
}

/* ---- GRID ---- */

/** GLOBAL HIGHLIGHT COLOUR **/
::selection {
  background: #cfe6ff;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #cfe6ff;
  /* Gecko Browsers */
}
:root {
  /* NEUTRAL */
  --color-dark: #24292e;
  --color-medium: #666;
  --color-light: #999;
  --color-xlight: #d6d6d6;
  /* STATES */
  --color-action: #0086e6;
  --color-danger: #b12026;
  --color-success: #0dba38;
  --color-disabled: #f2f2f2;
  /* ACCENT */
  --color-red: #e74848;
  --color-green: #4cc346;
  --color-blue: #0086e6;
  /* HIGHLIGHT */
  /* SHADOW */
  --shadow-z1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-z2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-z3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-z4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-z5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.opacity {
  opacity: 0.95;
}
.offwhite {
  background-color: #fafafa;
}
.lightgrey {
  background-color: #f4f4f4;
}
.darkgrey {
  background-color: #35363a;
}
.slate {
  background-color: #3e4953;
}
.black {
  background-color: #000;
}
.offblack {
  background-color: #202124;
}
.grey {
  background-color: #e3e3e3;
}
.white {
  background-color: #fff;
}
.greenblue {
  background-color: #0d98ba;
}
.dodgerblue {
  background-color: #1e90ff;
}
.blue {
  background-color: #4e92df;
}
.lightblue {
  background-color: #cfe6ff;
}
.purple {
  background-color: #686c99;
}
.yellow {
  background-color: #ffdd9d;
}
.goldenrod {
  background-color: #fcb13a;
}
.rose {
  background-color: #eb5364;
}
.red {
  background-color: #b12026;
}
.lightpink {
  background-color: #ffeef1;
}
.pink {
  background-color: #ffd3d9;
}
.brown {
  background-color: #e8a191;
}
.multiply {
  mix-blend-mode: multiply;
}
.nomultiply {
  mix-blend-mode: normal !important;
}
