* {
  margin: 0;
  padding: 0;
}
/* #app {
   Padding to account for height of stickbar but not needed when the bar is dynamically hidden
  /* padding-bottom: 6.2rem !important; 
} */
body { 
  background: var(--color-white);
}
#app {
  color: var(--color-offblack) !important;
  background: var(--color-white);
  font-size: 10px !important;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
html {
  font-size: 10px !important;
}
.container {
  display: grid;
  height: auto;
  margin: 0;
  padding: 2.8rem !important;
  position: relative;
  width: auto;
}
.front {
  z-index: 100;
}
a {
  color: var(--color-action) ;
}
a:hover {
  color: var(--color-action) !important;
}
.reversed {
  color: var(--color-offwhite) !important;
  mix-blend-mode: normal !important;
  background: var(--color-offblack);
}
.topborder {
  border-top: 1px solid var(--color-xxlight) !important;
}

@media (prefers-color-scheme: dark) {
  body { 
    background: var(--color-offblack);
  }
  #app {
    color: var(--color-offwhite) !important;
    background: var(--color-offblack);
  }

  #app a:hover {
    color: var(--color-action) !important;
  }
  .reversed {
    color: var(--color-dark) !important;
    background: var(--color-offwhite);
    mix-blend-mode: normal !important;
  }
  .topborder {
    border-top: 2px solid black !important;
  }
  /* .overlay {
  display: none;
} */
}
