* {
  margin: 0;
  padding: 0;
}
#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px !important;
  height: 100%;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  width: 100%;
}
html {
  font-size: 10px !important;
}
.container {
  display: grid;
  height: auto;
  margin: 0;
  padding: 2.8rem !important;
  position: relative;
  width: auto;
}
.front {
  z-index: 100;
}

/* ---- CONSOLIDATE ME ---- */
.overflow {
  overflow: hidden;
}

/* ---- GRID ---- */

/** GLOBAL HIGHLIGHT COLOUR **/
::selection {
  background: #cfe6ff;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #cfe6ff;
  /* Gecko Browsers */
}
