.container {
  height: auto;
  width: auto;
  position: relative;
  padding: 2.8em !important;
  margin: 0;
  display: grid;
  
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.grid-parent {
  display: grid;
  grid-gap: 2.8em;
  margin-top: -12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.grid-card {
  display: grid;
  grid-column: 1 / 4;
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  position: relative;
  grid-template-columns: 1fr;
  border-radius: 2px !important;
}
.grid-card:active {
  /* cursor: pointer; */
}
.fullvh {
  height: 100vh;
}
.eightyvh {
  height: 80vh;
}
.halfvh {
  height: 50vh;
}
.top {
  top: 0 !important;
  position: absolute;
}
.middle {
  top: auto !important;
  bottom: auto !important;
  position: relative;
}
.bottom {
  bottom: 0 !important;
}
.justify-end {
  position: relative;
  justify-self: end;
}
/* ---- MISC VH/PADDING/SPACING/POSITIONING ---- */

#contact {
  display: grid;
  align-items: end !important;
  grid-template-columns: repeat(9, 1fr);
  justify-content: space-between;
}
/* #title-hero {
  display: grid;
  align-items: end !important;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
} */

/* ------------ BREAKPOINT MD ------------ */
@media only screen and (min-width: 740px) {
  .container {
    padding: 8em !important;
  }
  .grid-parent {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-card {
    grid-column: auto;
  }

  /* ------------ BREAKPOINT LG ------------ */
  @media only screen and (min-width: 1201px) {
    .grid-parent {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
