@font-face {
  font-family: "Epilogue";
  src: url("../type/epilogue/epilogue-regular.ttf") format("truetype");
  font-style: normal;
  font-display: auto;
  font-weight: 100 900;
}
/* ---- GLOBAL ---- */
* {
  font-family: "Epilogue";
  unicode-range: U+000-5FF;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}
/* Header AAA */
h1 {
  font-size: var(--font-xs);
  font-weight: var(--font-bold);
  line-height: 1.2;
  margin: 0;
}
h2 {
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  line-height: 1.3;
  letter-spacing: -0.1rem;
  margin: 0;
  opacity: 1 !important;
  /* background: -webkit-linear-gradient(var(--color-action), var(--color-success)) !important; */
  
  /* background: -webkit-linear-gradient(left, var(--color-action), var(--color-success));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; */
}

h3 {
  font-size: var(--font-md);
  font-weight: var(--font-bold);
  line-height: 1.4;
  margin: 0;
  opacity: 1 !important;
}
h4 {
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
  line-height: 1.5;
  margin: 0;
  opacity: 1 !important;
}

h5 {
  font-size: var(--font-xs);
  font-weight: var(--font-bold);
  line-height: 1.5;
  margin: 0;
  opacity: 1 !important;
}
/* eyebrow text */
h6 {
  font-size: var(--font-xs);
  font-weight: var(--font-bold);
  line-height: 1.5;
  margin: 0;
  opacity: 1 !important;
}
p {
  font-size: var(--font-xxs);
  font-weight: var(--font-medium);
  line-height: 1.8;
  margin: 0;
  opacity: 1 !important;
}
li {
  font-weight: var(--font-medium);
}
.subtle {
  opacity: 0.6 !important;
}
/* .caption-project {
  mix-blend-mode: multiply;
  display: block !important;
  position: relative;
  text-align: left;
  width: 90%;
  float: left;
  z-index: 10;
  font-size: 12px;
  text-rendering: optimizeLegibility;
} */
.caption {
  float: left;
  padding-left: 2.8rem;
  padding-top: 2.2rem;
  position: absolute;
  text-rendering: optimizeLegibility;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  color: transparent !important;
  display: block !important;
  transition: all 0.1s ease-in-out;
}
.grid-card:hover .caption {
  color: var(--color-dark) !important;
  display: block !important;
}
.grid-card:active .caption {
  /* display: none !important; */
}

/* ---- LINKS/BUTTONS ---- */
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.router-link-exact {
  text-decoration: none !important;
}
.router-link-exact-active {
  text-decoration: underline dotted !important;
}
a {
  color: var(--link) !important;
}
a:hover {
  color: var(--link) !important;
  text-decoration: underline solid !important;
}
a:active {
  text-decoration: underline wavy !important;
}
a {
  cursor: pointer;
  text-decoration: none !important;
}

h1 a {
  text-decoration: none !important;
}
h2 > a {
  /* background: -webkit-linear-gradient(top left, var(--color-action), var(--color-action-dark));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; */
  /* text-shadow: var(--shadow-deep); */
  /* background: var(--bg-darker); */

}
h2 > a:hover {
  /* background: -webkit-linear-gradient(bottom right, var(--color-action), var(--color-action-dark));
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-shadow: var(--shadow-hover); */

}

a:active p {
  position: relative;
  /* top: 1px; */
}
p a:active {
  position: relative;
  /* top: 1px; */
}
h1 a:hover {
  position: relative;
}
h1 a:active {
}

h2 a:active {
  position: relative;
}
h3 a:active {
  position: relative;
}
/* .nav-link {
  display: inline;
  position: relative;
  overflow: hidden;
}
 .nav-link a:after {
  background: #4e92df;
  bottom: -8px;
  content: "";
  height: 2px;
  mix-blend-mode: multiply !important;
  position: absolute;
  right: 0;
  transition-duration: 0.2s;
  transition-property: width;
  transition-timing-function: ease-out;
  width: 0;
  z-index: -1;
}
.nav-link a:hover:after,
.nav-link a:focus:after,
.nav-link a:active:after {
  left: 0;
  right: auto;
  width: 100%;
} */

/* ------------ BREAKPOINT MD ------------ */
@media only screen and (min-width: 740px) {
  h2 {
    font-size: var(--font-xl);
    padding-bottom: 4px;
  }
  h3 {
    font-size: var(--font-lg);
  }
  h4 {
    font-size: var(--font-md);
  }
  h5 {
    font-size: var(--font-sm);
  }
  p {
    font-size: var(--font-xs);
  }
  /* ------------ BREAKPOINT LG ------------ */
  @media only screen and (min-width: 1201px) {
    h2 {
      font-size: var(--font-xxl);
    }
    /* ------------ BREAKPOINT XL ------------ */
    @media only screen and (min-width: 1441px) {
      h2 {
        font-size: var(--font-xxxl);
      }
    }
  }
}
